{
  "pid": "com.tibco.bw.stat.appnode.39894ff5-cea9-4eff-9a5c-1186270130a8",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.39894ff5-cea9-4eff-9a5c-1186270130a8",
      "type": "java.lang.String"
    }
  }
}